/*h1{
    color:blueviolet;

}*/
/* .navigation #h{
    background-color:blue;
    border: 5px solid yellow;
    margin:50px;
    padding:20px 10px 30px 15px;
}
table,tr,td,th{
    border:1px solid black;
   
    border-collapse: collapse;
}
tr:nth-child(even){
background-color:greenyellow;
} */
.chess-board 
{ 
    border-spacing: 0; border-collapse: collapse; 
}
 .chess-board td
  {
     border: 1px solid; width: 2em; height: 2em;
 }
 .chess-board .light 
 { 
    background:white; 
}
.chess-board .dark
 { 
    background:black; 
}
